@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");
* {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  max-width: 1536px;
  position: relative;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #fffffe;
  color: #5f6c7b;
  text-align: justify;
  font-size: 1rem;
  position: static;
}

.slide-next.enter {
  opacity: 0;
  transform: translateX(-100%);
}
.slide-next.enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 500ms linear;
}
.slide-next.exit {
  opacity: 1;
  transform: translateX(0%);
}
.slide-next.exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 500ms linear;
}

.slide-pre.enter {
  opacity: 0;
  transform: translateX(100%);
}
.slide-pre.enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 500ms linear;
}
.slide-pre.exit {
  opacity: 1;
  transform: translateX(0%);
}
.slide-pre.exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms linear;
}

.nav.enter {
  opacity: 0;
}
.nav.enter-active {
  opacity: 1;
  transition: all 500ms linear;
}
.nav.exit {
  opacity: 1;
}
.nav.exit-active {
  opacity: 0;
  transition: all 500ms linear;
}
@media only screen and (max-width: 768px) {
  body {
    text-align: left;
  }
}

/* w-7/12 h-96 mt-5 mx-auto relative transition-all ease-in-out duration-1000 transform translate-x-0 */
/* w-7/12 h-96 mt-5 mx-auto relative */
